{{template "base" .}}

{{define "content"}}
  <div class="container">
    <div class="row">
      <div class="col">
        <H1>home sweet home</H1>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi doloremque earum fuga voluptates sequi perferendis necessitatibus porro consectetur! Voluptate laudantium facilis libero debitis id. Sequi fugit facilis quia autem tempore?
      </div>
    </div>
  </div>
{{end}}